* {
  font-family: 'Ubuntu', sans-serif;
  margin: auto auto;
}

html {
  margin: 0 0;
}

body {
  width: 100%;
  margin: auto auto;
  padding: 10px;
  background-color: #fff;
}

#title {
  text-align: center;
  border: 10px inset;
  border-radius: 10px;
}

p, a {
  text-align: center; 
}

strong {
  font-weight: 600;
}

div {
  text-align: center;
}
