* {
  font-family: 'Ubuntu', sans-serif;
  margin: auto auto;
}

body {
  width: 100%;
  margin: auto auto;
  padding: 10px;
  background-color: #fff;
}

p, a {
  text-align: center; 
}

strong {
  font-weight: 600;
}

div {
  text-align: center;
}

#title {
  text-align: left;
  margin: auto auto;
}

#signinbutton {
  width: 220px;
  cursor: pointer;
  margin: 3px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: aliceblue; 
  color: #696969;
  text-align: center;
  font-size: 10px;
}
